:root {
    --paragraphcolor :  #717171;


 }
body  {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.margin {
    margin-left: 500px;
} 
.navbutton {
    background-color: #4CAF4F;
    color: white;
    width: 133.25411987304688;
height: 36.48994445800781;
gap: 5.57px;
angle: 0 deg;
opacity: 1;
padding-top: 9.74px;
padding-right: 22.27px;
padding-bottom: 9.74px;
padding-left: 22.27px;
border-radius: 2.78px;

 }
.sectionbutton1  {
   background-color: #4CAF4F;
    color: white; 
    margin-top: 5px;
}
.lessonsandinsights {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
font-style: Semi Bold;
font-size: 44.55px;
leading-trim: NONE;
line-height: 52.9px;
letter-spacing: 0%;

 }
 .eightyears {
    color: #4CAF4F;
    font-weight: 600;
    font-size: 44.5px !important;

  }
  .ff {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color:  #F5F7FA;
;
 
   }
   .para1 {
    color: #717171;

    }
    
         .divleft {
        margin-top: 100px;
        margin-left: 100px;
     }
     .divright { 
        margin-top: 70px;
        margin-left: 100px;
     }
     .para2  {
        color:  #717171;
;
     }
     .images {
        margin-right: 100px;
        margin-left: 20px;
        align-content: center;
      }
.para3  {
    color: #717171;

}
.div3 {
    margin-top: 20px;
} 
.para4 {
    color:  #717171;
;
 }
 h2 {
    color: #4D4D4D;

  }
  h3  {
    color: #4D4D4D;
  }
   #divleft2 { 
    margin-left: 150px;
   }
   #heading { color: #4D4D4D;
 }
 #cig {
    margin-left: 80px;
  }
  #maindiv0 {
    margin-left: 70px;
   }
   #marginleft0 {
    margin-left: 50px;
    margin-top: 50px;
    }
    #mr {
        margin-left: 150px;
     }
     #zaid {margin-top: 50px;
    margin-left: 50px !important; }
     .ze { margin-left: 150px; }
     .zw { margin-right: 150px;
    margin-left: 30px;}
    #absolute { 
        position: absolute;
   
    }
    #relative {
        position: relative;
     }
     .m  {margin-top: 100PX;}
     ul {
        list-style: none;
      }
      #zy {
        margin-left: 150px;
        margin-top: 30px;
       }
       #zx  {
        margin-top: 30px ;
       }
       @media screen and (min-width:450) and (max-width:550) {
        .do { margin-left: 10px; }
       }
       @media screen and  (min-width:1000) and (max-width:1500) {
        .mst {
       margin-left: 150px !important;
        }
       }
       